<%= form_for @cards do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>

  <div class="submit">
    <%= f.submit "書き込む", :class =>"waves-effect waves-light btn"  %>
  </div>
<% end %>
